{% extends "layout.html" %}
{% block title %}
    Inicio
{% endblock %}

{% block main %}
<div class="jumbotron">
        <h1 class="display-4">Librería Jeremías 33:3</h1>
        <p class="lead">Clama a mí, y yo te responderé, y te enseñaré cosas grandes y ocultas que tú no conoces...</p>
        <hr class="my-4">
        <p class="lead">Compra y venta de libros usados!</p>
        <p class="lead">Gestor de Inventario</p>
            <div id="banner">
                <div class="images">
                    <img src ="/static/media/frontal.jpg" id="frontal" height="50%" width="50%">
                </div>
            </div>
{% endblock %}